[user]
	name = zxk7516
	email = zxk7516@foxmail.com
[ui "color"]
	ui = always
[color]
	ui = true
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[merge]
	tool = nvim -d
[alias]
	c = commit
	co = checkout
	b = branch
	s = status
	st = status
	lg = log --oneline
	last = log -1 HEAD
	f = push --force-with-lease
	# https://stackoverflow.com/a/11688523/472927
	ss = "!f() { git stash show stash^{/$*} -p; }; f"
	sa = "!f() { git stash apply stash^{/$*}; }; f"
	sl = stash list
